.Weather {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  background-color: #fff;
  border: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.searchField {
  background-color: #fff;
  border: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 3px 3px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
